/.quarto/
**/*.quarto_ipynb
/route-map.png
/.envrc
/_site/
/_generated-metadata.yml
/_generated-resources.md
/_generated-pdf-preamble.tex
/resource-images/
/skymap-*.pdf
/NovaScotiaTrip2024.pdf
/trips/
